<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="src/FF/tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">core</directory>
        </whitelist>
    </filter>
</phpunit>