li {

    list-style-type: none;
}
.SubMenu {
    display: none;
    position:absolute;
    z-index: 500;
    width:300px;
    background-color: darkolivegreen;


}
#FileSubSubList {
    display: none;
    position:absolute;
    left:60px;
    bottom:20px;
}
#FileTypeList {
    display:none;
    position:absolute;
    left:40px;
    top:0px;

}
aside {
    float: left;
    min-width: 100px;
    height:200px;
    overflow: auto;
}
#mainMenu {
    margin-top: 20px;
    margin-bottom: 20px;
}
#filesList {
    width: 200px;
}
#mainMenuList>li {
    display: inline;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#mainMenuList>li:hover {
    background-color: darkgreen;
    cursor: pointer;
}
#mainMenuList>li:hover .SubMenu{
    display: block;
}
.SubMenu>li:hover {
    background-color: green;

}
.SubMenu>li:hover #FileSubSubList{
    display: block;

}
#FileSubSubList>li:hover {
    background-color: darkgreen;
}
#FileSubSubList>li:hover #FileTypeList {
    display:block;
}
#FileTypeList {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#FileTypeList>li:hover {
    background-color: darkgreen;
}
#webeditor {
    width:90%;
}
#webeditor>fieldset {
    width:inherit;
    position: block;
}